---
interface Props {
  service: {
    icon: {
      url: string;
      alternativeText: string;
    };
    link: {
      href: string;
      label: string;
    };
    title: string;
    description: string;
  };
}

const { service } = Astro.props;
const { icon, link, title, description } = service;
import ServiceIcon from './ui/service-icon.astro';
---

<!-- Parent div -->
<div class='group transition-all duration-300 pt-8 relative'>
  <a href={link.href} class='block relative'>
    <!-- Icon container moved outside the card div -->
    <div class='absolute -top-8 transform ml-6 z-10'>
      <span
        class='inline-flex transition-all duration-300 rounded-xl group-hover:bg-accent bg-primary p-3 shadow-lg'
      >
        <ServiceIcon
          icon={icon}
          class='text-background group-hover:text-primary transition-all duration-300'
        />
      </span>
    </div>

    <!-- Card container with overflow-hidden -->
    <div
      class='flow-root rounded-lg group-hover:bg-primary transition-all duration-300 bg-white shadow px-6 pb-8 sm:pt-16 pt-12 relative overflow-hidden'
    >
      <!-- Adjusted padding-top to accommodate the icon -->
      <h3
        class='text-3xl uppercase font-semibold tracking-tight font-heading text-primary group-hover:text-white transition-all duration-300'
      >
        {title}
      </h3>
      <p
        class='mt-2 text-base text-secondary group-hover:text-gray-100 transition-all duration-300'
      >
        {description}
      </p>
      <div class='mt-5'>
        <span
          class='group-hover:text-white hover:bg-accent -ml-2 hover:ml-0 p-2 hover:rounded text-xs capitalize transition-all duration-300 font-semibold'
        >
          {link.label}&nbsp;&rarr;
        </span>
      </div>

      <!-- Triangle Div inside the card div -->
      <div
        class='group-hover:animate-growTriangle absolute bottom-0 right-0 w-0 h-0
          border-l-[60px] border-l-transparent
          border-b-[60px] border-b-accent
          opacity-0 group-hover:opacity-100 transition-opacity duration-300 origin-bottom-right'
      >
      </div>
    </div>
  </a>
</div>
